/* This is the css page for Service Plans and Services rendered */

/* ServicesList Page */
.services-list-page {
  padding: 0;
  margin: 0;

  padding-top: 2rem;
}

.services-list-content {
  display: flex;
  flex-direction: column;  
}

.services-list-item {

  list-style: circle;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1ch;
  
  padding: 2px;
}

.item-title {
  flex-grow: 1;
  flex-shrink: 0;

  padding-inline: 14px;
}

.item-date {
  flex-shrink: 0;
  flex-grow: 1;
  
  padding-inline: 2px;
  align-items: center;
}

/* <--------- file: Services.jsx ---------> */
.service-select-container {
  display: flex;
  flex-direction: column;

  height: 100svh;
  width: 100svw;
  margin: auto;
  
}
.service-select-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  padding-inline: 1rem;
  margin-inline: 1rem;
}

.service-select-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 1rem;
  padding-inline: 1rem;
  background-color: var(--color-gray-400);

  color: var(--color-gray-900);
}

.plan-title {
  font-weight: 700;
}
.plan-price {
  font-weight: 500;
  font-style: italic;
  color: var(--glc-light-green);
  text-shadow: 1px 1px 1px black;
}

.btn-select {
  background-color: var(--color-emerald-900);
  color: var(--color-emerald-600);

  padding-inline: 10px;
  border-radius: 50vw;
}
.btn-select:hover{
  color: var(--glc-orange);
}

