/* This is the css page for Service Plans and Services rendered */

/* ServicesList Page */
.services-list-page {
  display: flex;
  flex-grow: 1;
  margin-top: 2rem;
  width: 100%;
}
.plans-row{
  color: var(--color-zinc-400);
}
/* <--------- file: Services.jsx ---------> */

.container {
  --height: 80svh;
  --width: 80svw;

  height: var(--height);
  width: var(--width);
  margin: auto;
  padding-top: 2rem;

  overflow: scroll;

  @media only screen and (max-width: 400px){
    ---width: 350px;
  }
  @media only screen and (max-width: 1000px){
    --width: 800px;
  }
}

.service-table {
  height: calc(var(--height) - 4rem);
  width: calc(var(---width) - 4rem);

  
}

.service-thead {
  color: var(--color-amber-500);
  font-size: 18px;
  height: 50px;
}

.tbl-cell-service {
  text-align: center;
  padding-left: 5px;

  font-size: 10pt;
  color: var(--color-gray-400);
  
  border-bottom: 1px solid;
  p{
    font-size: 10pt;
  }
}

.tbl-cell-service:nth-child(1n){
  border-top: 1px solid;
}

.plan-title {
  display: flex;
  color: var(--color-amber-500);
  font-weight: 700;
  padding-left: 20px;
}

.tbl-cost {
  color: var(--color-amber-500);
}

.btn-select {
  background-color: var(--color-emerald-900);
  color: var(--color-emerald-600);

  padding-inline: 10px;
  border-radius: 50vw;
}
.btn-select:hover{
  color: var(--glc-orange);
}
.btn-disabled {
  background-color: var(--color-gray-600);
  color: var(--color-gray-400);
}


/* <--------- file: ServicePlanDetails.jsx ---------> */
.spd-container {
  height: 100vh;
  width: 95%;

}
.spd-table {
  background: var(--color-zinc-400);
  border-radius: 20px;
  height: 65svh;
  
}
.spd-tbl-header {
  color: var(--color-teal-900);
  padding-top: 2rem;
  font-size: 14px;
  height: 50px;
}

.spd-plan-cell{
  color: var(--color-zinc-900);
  font-size: 14px;
  padding-inline: 10px;
  text-wrap: wrap;
  border-bottom: 1px solid var(--color-zinc-500);
}

.spd-tbl-row:nth-child(1){
  .spd-plan-cell{
    border-top: 1px solid var(--color-zinc-500);
  }
}
.spd-tbl-row:nth-last-child(){
  .spd-plan-cell{
    border-bottom: hidden;
  }
}
.btn-edit {

  color: var(--color-teal-900);

  padding-inline: 10px;
  padding-block: 2px;
  border-radius: 100vh;

}
.btn-area {
  display: flex;
  justify-content: end;
}
.btn-add {
  display: flex;

  margin: 1rem 2rem 0 0;
  padding-inline: 10px;
  color: var(--color-zinc-400);
  border: 1px solid var(--color-zinc-400);
  border-radius: 50px;
}
.btn-add:hover {
  color: var(--color-zinc-600);
  border: 1px solid var(--color-zinc-600);
}