*{
  margin: 0;
  padding: 0;
}

.bento-page{
  padding: 4rem;
}

.bento-title {
  text-align: center;
  color: var(--glc-light-green);
  font-size: var(--glc-xxl-font-size);

  span {
    color: var(--glc-orange);
  }
}

.bento-content {
  display: grid;
  padding-top: 2rem ;
  gap: 2rem;


  grid-template-areas:
    "one two six five"
    "one four three five"
  ;
}

.bento-box {
  border: 1px solid slategrey;
  min-height: 20vh;
  min-width: 20vw;


  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: center;

  padding: 2rem;
}

.bento-box:nth-child(1){

  overflow: hidden;
  h2 {
    color: var(--color-yellow-500);
    font-size: var(--glc-md-font-size);
  }

  th {
    color: var(--color-yellow-500);
    font-size: var(--glc-xxs-font-size);
    padding-bottom: 1rem;
    text-align: center;
  }

  td {
    padding-inline: 1rem;
    padding-block: 5px;

    color: var(--color-gray-300);
    font-size: var(--glc-xxs-font-size);
    text-align: center;
  }

  grid-area: one;
}
.bento-box:nth-child(2){
  
  h2 {
    color: var(--color-yellow-500);
    font-size: var(--glc-xs-font-size);
  }

  p {
    font-size: var(--glc-xxl-font-size);
    color: var(--color-orange-500);
  }

  grid-area: two;
}
.bento-box:nth-child(3){

 
  h2 {
    color: var(--color-yellow-500);
    font-size: var(--glc-xs-font-size);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  p {
    font-size: var(--glc-xxl-font-size);
    color: var(--glc-light-blue);
  }
  grid-area: three;
}
.bento-box:nth-child(4){
h2 {
    color: var(--color-yellow-500);
    font-size: var(--glc-md-font-size);
  }

  grid-area: four;
}
.bento-box:nth-child(5){

  h2 {
    color: var(--color-yellow-500);
    font-size: var(--glc-md-font-size);
  }
  
  th {
    color: var(--color-yellow-500);
    font-size: var(--glc-xxs-font-size);
    padding-bottom: 1rem;
    text-align: center;
  }

  td {
    padding-inline: 4px;
    padding-block: 5px;
    color: var(--color-gray-300);
    font-size: var(--glc-xxs-font-size);
  }

  grid-area: five;
}
.bento-box:nth-child(6){

  h2 {
      color: var(--color-yellow-500);
      font-size: var(--glc-xs-font-size);
    }
  p {
    color: var(--color-red-500);
    font-size: var(--glc-xxl-font-size);
  }
    grid-area: six;
  }

.tbl-name {
  
}