*{
  margin: 0;
  padding: 0;
}

.bento-page{
  padding: 4rem;
}

.bento-title {
  text-align: center;
  color: var(--glc-light-green);
  font-size: var(--glc-xxl-font-size);

  span {
    color: var(--glc-orange);
  }
}

.bento-content {
  display: grid;
  padding-top: 2rem ;
  gap: 2rem;


  grid-template-areas:
    "one two three five"
    "one four four five"
  ;
}

.bento-box {
  border: 1px solid slategrey;
  min-height: 20vh;
  min-width: 20vw;


  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  align-items: center;

  padding: 2rem;
}

.bento-box:nth-child(1){

  h2 {
    color: var(--glc-yellow);
    font-size: var(--glc-md-font-size);
  }

  li {
    color: var(--glc-light-blue);
    font-size: var(--glc-md-font-size);
    list-style: none;
    padding-inline: 5rem;
    padding-block: 1rem;
    border-bottom: 1px solid var(--glc-light-highlight);
  }

  grid-area: one;
}
.bento-box:nth-child(2){
  
  h2 {
    color: var(--glc-orange);
    font-size: var(--glc-xs-font-size);
  }

  p {
    font-size: var(--glc-xxl-font-size);
    color: var(--glc-light-highlight);
  }

  grid-area: two;
}
.bento-box:nth-child(3){

 
  h2 {
    color: var(--glc-light-highlight);
    font-size: var(--glc-xs-font-size);
  }
  p {
    font-size: var(--glc-xxl-font-size);
    color: var(--glc-light-blue);
  }
  grid-area: three;
}
.bento-box:nth-child(4){
h2 {
    color: var(--glc-light-purple);
    font-size: var(--glc-xs-font-size);
  }

  grid-area: four;
}
.bento-box:nth-child(5){

h2 {
    color: var(--glc-tan);
    font-size: var(--glc-xs-font-size);
  }
  grid-area: five;
}