.dashboard-content {
  min-height: 100svh;
  padding: 0;
  display: flex;
    
  background-color: var(--bg-dashboard-color);
  color: var(--navbar-foreground);
  overflow-inline: hidden;
}

.left-col{
  flex: 1;
  max-width: 8rem;
}

.right-col {
  flex:2;
}


.logo-page {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    border-radius: 100vw;
  }
}