.dashboard-content {
  --body-bg: #123;
  --nav-bg: #e3e3e3;

  min-height: 100svh;
  padding: 0;
  display: flex;
  
  
  background-color: var(--body-bg);
  overflow-inline: hidden;
}

.left-col{
  flex: 1;
  max-width: 8rem;
}

.right-col {
  flex:2;
}