

/* <----- TASK LIST SECTION -----> */

.tasks-content {
  display: flex;

  padding-left: 1rem;
  gap: 1rem;
    
  h2 {
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 2rem;
    color: var(--primary-title-color)
  }
}

.task-left-col {

  height: 100svh;
  width: 15rem;

  flex-shrink: 0;
  flex-grow: 0;

  padding: 1rem;
  padding-top: 1rem;

  border-right: 1px solid;

  ul {
    list-style: square;
    padding-left: 1rem;
  }
}

.task-right-col {
  height: 100svh;
  width: 70svw;
  flex-shrink: 0;
  flex-grow: 0;
  padding-top: 4rem;
}

/* <------ TASK MESSAGE SECTION ------> */
/* < File: TaskLanding.jsx> */
.landing-page-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100px;

img {
  height: 25rem;
  border-radius: 100rem;
}
  
}
/* <------ File: Task.jsx ------> */
.task-card {
  height: 80svh;
  width: 100%;

  display: flex;
  gap: 2rem;
  
  margin-left: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;

  background-color: var(--glc-light-grey);
  
  border-radius: 1vw;
}

.task-message {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  height: 100svh;
  width: 100%;
  margin: 0;
  gap: 1rem;

  color: var(--glc-dark-brown);
}
.task-title-bar {
  height: 20svh;
  width: 100%;
  margin: 0;

  padding-top: 1rem;
  padding-left: 1rem;

  border: 1px solid var(--color-gray-800);
  box-shadow: 1px 1px 1px 1px inset var(--glc-light-grey);
  box-shadow: 1px 1px 1px 1px var(--glc-light-grey);
}
.task-message-container {
  height: 50svh;
  width: 100%;
  margin: 0;

  padding-top: 1rem;
  padding-left: 1rem;

  border: 1px solid var(--color-gray-800);
  box-shadow: 1px 1px 1px 1px inset var(--glc-light-grey);
  box-shadow: 1px 1px 1px 1px var(--glc-light-grey);
}

.btn-container {
  display: flex;
  justify-content: end;

  width: 100%;
}
.btn-new-message{
  justify-content: end;
  align-items: end;
  padding-inline: 5px;

  color: var(--color-blue-800);
  text-shadow: .5px .5px .5px var(--color-gray-800);

  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px  black;
}
.btn-new-message:active {
  box-shadow: 1px 1px 1px 1px inset black;
  /* box-shadow: 1px 1px 1px 1px var(--glc-md-grey); */
}