
input {
 padding-left: 1rem; 
}

.form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-image {
  min-height: 10vh;
  padding: 2rem;
  border-radius: 100vh;

  @media (width > 320px) {
    min-height: auto;
  }
}

.form-title{

  color:var(--glc-light-green);
  text-shadow: 1px 1px 1px var(--glc-orange);
  font-size: 1.5rem

}

/* Login form */

.login-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.login-btn {
  color: var(--glc-orange);
  padding-top: 1rem;
  border-radius: 100vh;
}

.login-btn:hover {
  color: var(--glc-light-green);
}

.registration-question {
  display: flex;
  justify-content: space-evenly;
  
  button{
    font-weight: 500;
    box-shadow: 1px 1px 12px ;
    padding-inline: 1rem;
    border-radius: 100vw;
  }
}


/* <---------- User Edit Form ----------> */
.user-form {
  position: relative;
  margin: 3rem;
  padding: 1rem;
  background: var(--bg-navbar-color);
  border-radius: 15px;
}

.user-form-content {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);

  max-width: 80dvw;
  padding: 2rem;
 

  label{
    font-weight: 500;
    color: var(--glc-light-green);
  }
  input{
    color: var(--color-zinc-700);

  }
}

.user-form-content > * {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;

  padding: 5px;
  border-radius: 5px;

  input {
    text-align: start;
    padding-inline: 1px;
    padding: 5px;
    border: 1px solid var(--color-zinc-500);
    border-radius: 5px;
  }
}

.btn-user-edit-submit {
  display: flex;
  padding-top: 2rem;
  padding-right: 20rem;
  justify-content: end;
  align-items: end;

  
  button {
    color: var(--color-teal-800);
    
    padding-inline: 10px;
    border: 1px solid var(--color-teal-800);
    border-radius: 5px;
    
  }
  button:hover{
    color: var(--color-zinc-950);
    border: 1px solid var(--color-gray-700);
  }
  button:active{
    color: var(--glc-orange);
    border: 1px solid var(--glc-orange);
  }
  

}

/* <----------  NewServicePlan.jsx file  ----------> */

.nsp-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 5rem;


}

.nsp-form-content {
  padding: 50px;
  background: rgb(128, 128, 128, .20);
  border-radius: 10px;

  input{
    background: rgb(128, 128, 128);
    color: black;
  }
}
.nsp-btn-container {
  display: flex;
  justify-content: end;
  width: 56%;

}