@import "tailwindcss";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color-scheme: dark light;
}
body{
  margin: 0; 
  line-height: 1.5;
}
section {
  padding-block: 6rem;
}
.page-layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100vw;
  justify-content: center;
}
.page-layout > * {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.wrapper p {
  font-size:x-large
}

.logo {
  height: 500px;
  margin-inline: auto;
  padding-block: 2rem;
  border-radius: 100%;
}


.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 3.25rem;
  font-weight: bold;
  color: #ffa500;
  text-shadow: 1px 1px 2px black;
}

.logo-title {
  color: #567257;
  width: 100%;
  text-align: center;
  font-size: 50pt !important;
  text-shadow: 1px 2px 2px #ffa500;
}

/* PET SAFE */
.pet-safe {
  --skew-angle: -5deg;
  --background: linear-gradient(
    50deg,
    #032403,
    #195c19,
    #90EE90
  );
  position: relative;
  isolation: isolate; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pet-safe::after{
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
.pet-safe > * {
  gap: 1rem;
}

.pet-safe img {
  display: flex;
  align-items: center;
  height: 18rem;
  border-radius: 100%;
  margin-right: 5rem;
}

@media (max-width: 1058px) {
  .pet-safe {
    display: flex;
    flex-direction: column;
  }
}


/* No two lawns are the same */
.no-lawn-the-same {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-shrink: 1;
}
.no-lawn-the-same > * {
  padding: 1rem;
}
.no-lawn-the-same img {
  height: 25rem;
  margin-left: 2rem;
  border-radius: 3% 55%;
}

@media (max-width: 1058px) {
  .no-lawn-the-same {
    display: flex;
    flex-direction: column;
  }
}


/* MISSION STATEMENT */

.mission {
  --skew-angle: 5deg;
  --background: linear-gradient(
    50deg,
    #f5e211,
    #eb6f0a
  );
  position: relative;
  isolation: isolate; 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.mission::after{
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
  padding: 2rem;
}

.mission-title {
  color: #2A2420;
  text-shadow: 1px 1px 2px whitesmoke;
}

.mission p {
  color: #2A2420;
  text-shadow: 1px 1px 1px #195c19;
}




/* NavBar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top:0;
  left:0;
  overflow: hidden;
  background-color: #567257;
  width: 100vw;
  margin: 0;
  padding-inline: 16px;
  padding-block: 1px;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav-link-active {
 border-bottom: #2A2420;
 border-bottom-width: 2px;
}

.nav-link:hover{
  color: #ffa500;
}

.request-consultation {
  display: flex;
  background-color: #ffa500;
  color: #2A2420;
  padding: 5px;
  border-radius: 5%;
  font-size: x-small;
  font-weight: bold;
  box-shadow: 1px 1px 2px 2px black;
  flex-shrink: 10;
}


.request-consultation:hover{
  color:#195c19;
}

.request-consultation::after {
 
}
