@import "tailwindcss";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  color-scheme: dark light;

  --primary-title-color: #ffa500;
  --dark-title-color: #2A2420;
  --light-title-color:#e3e3e3;
}
body{
  margin: 0; 
  line-height: 1.5;
  color:#567257;
}

/* <------------------ NAVBAR SECTION ------------------> */

header {
  --_animationStartsAfter: 5vh;
  --_animationDistance: 500px;
  --_surfaceColorStart: hsl(122, 14%, 39%);
  --_surfaceColorEnd: hsl(122, 14%, 39%);
  --_textColorStart: hsl(0, 10%, 90%);
  --_textColorEnd: hsl(0 10% 90%);

  --_logoAfterAnimation: none;

  padding: 1rem 3rem;
  margin-inline: auto;
  margin-block: 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--_headerWidth, auto);
  

  color: var(--_textColorStart);
  background-color: var(--_surfaceColorStart);

  position: sticky;
  z-index: 1000;
  top: 0rem;

  @supports (animation-timeline: view()) {
    top: -5rem;

    backdrop-filter: blur(0.35rem);

    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartsAfter));
    animation-range-end: calc(
      100vh + var(--_animationStartsAfter) + var(--_animationDistance)
    );
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    color: inherit;
    text-decoration: none;
    font-weight: 500;

    &:hover
    {
      color: var(--primary-title-color);

    }
    &:focus {
      color: var(--primary-title-color);
      text-decoration: underline;
      text-decoration-thickness: 0.07lh;
      text-underline-offset: 0.17lh;
    }
  }
}

@keyframes stickyNav {
  0%,
  100% {
    --_headerWidth: fit-content;
    --_logoDisplay: var(--_logoAfterAnimation);
     border-radius: 100vw;
  }

  100% {
    top: 1rem;
    color: var(--_textColorEnd);
    background-color: var(--_surfaceColorEnd);
    box-shadow: inset 0 0 0.5rem hsl(0 0% 100% / 0.1),
      0 0 0.75rem hsl(0 0% 0% / 0.3);
  }
}

.navbar {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.nav-link:hover{
  color: #ffa500;
}

.nav-btn {
  margin-inline: 1.5rem;
}

.btn-consultation {
  background-color: #f0f008;
  color: #2A2420;
  padding: 5px;
  border: 1px solid, #2A2420;
  border-radius: 5rem;
  font-size: small;
  font-weight: bold;
}

.request-consultation:hover{
  color:#195c19;
}

.btn-login {
  color: #2A2420;
  background: #ACAB9E;
  border:1px solid, #2A2420;
  border-radius: 5rem;
  padding-inline: 1rem;
  margin-left: 1.5rem;
}

/* <--------- End Navbar ----------> */



/* <---------- Home Page ----------> */
section {
  padding-block: 6rem;
}


.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.wrapper p {
  font-size:x-large
}

.logo {
  height: 500px;
  margin-inline: auto;
  padding-block: 2rem;
  border-radius: 100%;
}


.site-title {
  font-size: 3rem;
  text-align: center;
}

.section-title {
  font-size: 3.25rem;
  font-weight: bold;
  color: var(--primary-title-color);
  text-shadow: 1px 1px 2px black;
}

.logo-title {
  color: #567257;
  width: 100%;
  text-align: center;
  font-size: 50pt !important;
  text-shadow: 1px 2px 2px #ffa500;
}


/* <------------------ PET SAFE SECTION ------------------> */

.pet-safe {
  --skew-angle: -5deg;
  --background: linear-gradient(
    50deg,
    #032403,
    #195c19,
    #90EE90
  );
  position: relative;
  isolation: isolate; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p{
    color: var(--primary-title-color);
  }
}

.pet-safe::after{
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
.pet-safe > * {
  gap: 1rem;
}

.pet-safe img {
  display: flex;
  align-items: center;
  height: 18rem;
  border-radius: 100%;
  margin-right: 5rem;
}

@media (max-width: 1058px) {
  .pet-safe {
    display: flex;
    flex-direction: column;
  }
}

/* <------------------ NO TWO LAWNS ------------------> */

.no-lawn-the-same {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-shrink: 1;
}
.no-lawn-the-same > * {
  padding: 1rem;
}
.no-lawn-the-same img {
  height: 25rem;
  margin-left: 2rem;
  border-radius: 3% 55%;
}

@media (max-width: 1058px) {
  .no-lawn-the-same {
    display: flex;
    flex-direction: column;
  }
}


/* <------------------ MISSION ------------------> */

.mission {
  --skew-angle: 5deg;
  --background: linear-gradient(
    50deg,
    #f5e211,
    #eb6f0a
  );
  position: relative;
  isolation: isolate; 
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.mission::after{
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
  padding: 2rem;
}

.mission-title {
  color: var(--dark-title-color);
  text-shadow: 1px 1px 2px whitesmoke;
}

.mission p {
  color: var(--dark-title-color);
  text-shadow: 1px 1px 1px #195c19;
}

/* <---------- End Home Page ----------> */

/* <------------------ Service Plans Page ------------------> */

.service-plan-wrapper {
  background-image: url('./assets/grass-sp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.service-plan-grid {
  display: grid;
  gap: 2rem;
 
  padding-block: 6rem;
  width: min(90%, 90rem);
  margin-inline: auto;
}
@media (min-width: 1058px) {
  .service-plan-grid {
    grid-template-columns: repeat(3,1fr);

  }

  .service-plan:last-child {
    grid-column: 2;
  }
}

.service-plan-grid > * {
  border: 3px solid #ffa500;
  border-radius: 2rem;
  overflow: hidden;
  height: 500px;
  background-color: #032403;
  font-size: 20pt;
  margin-inline: auto;
}


.service-plan ul {
  list-style-type: square;
  padding-top: 1rem;
  padding-inline: 4rem
}

.article-title {
  background-color: #195c19;
  color: #ffa500;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-inline: 6px;
}

.article-title:last-child {
  color: #fff;
  padding-inline: 3rem;
}

