.accounts-content{
  height: 100svh;
  width: 90svw;
  display: flex; 
  flex-wrap: wrap;
  align-content: start;
  gap: 1rem;
  padding-left: 2rem;
}

.page-title {
  color: var(--primary-title-color);
  font-size: 24pt;
  padding: 2rem;
}
  
.accounts-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.accounts-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  height: 15vh;
  width: max-content;
  padding: 3rem;
  
  background-color: gray;
  box-shadow: 1px 1px 5px #555 inset;
  border-radius: 1vw;
}

.accounts-manager{
  border: 2px solid var(--color-red-500);
}
.accounts-tech{
 border: 2px solid var(--color-blue-500);
}

.accounts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--body-bg);
  font-size: 16pt;
  font-weight: 300;
}

.accounts-name {
  font-size: 20pt;
  font-weight: 700;
}

.accounts-action-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.accounts-action-icons span {
  align-items: end;
  font-size: 20pt;
  color: var(--body-bg);
}

/* <---------  ACCOUNT DETAILS BENTO SCREEN  ----------> */

.account-details-page{
  margin: 0;
  padding: 1rem;
  padding-inline: 2rem;

}

.account-details-content{
  display: grid;
  gap: 1rem;
  padding-top: 2rem;

  grid-template-areas: 
    "one two four"
    "one three four"
  
  ;
}

.account-details-box {
  background-color: var(--color-gray-500);
  border-radius: 5px;
  min-height: 20vh;
  min-width: 20vw;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  
  
  padding: 2rem;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.account-details-article{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* <---------  ACCOUNT DETAILS BOXES  ----------> */
.account-details-box:nth-child(1){
  background-color: var(--color-gray-500);
  color: var(--glc-dark-grey);

  font-size: var(--glc-xs-font-size);
  
  h3 {
    color: var(--glc-dark-brown);
    font-weight: 700;
  }

  p {
    padding: 0;
    margin: 0;
  }

  label {
    color: var(--color-black);
    font-weight: 700;
    padding-right: 1rem;
  }
  span {
    color: var(--color-gray-950);
    padding: 2px;
  }

  grid-area: one;
}



.account-details-box:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: space-between;

  h3{
    color: var(--color-green-500);
  }
  grid-area: two;
}

.cut-date{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    color: var(--glc-yellow);
    text-shadow: .5px .5px .5px var(--glc-dark-brown);
  }
}

.account-details-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  color: var(--glc-sky-blue);
  img{
    height: 100px;
  }
}

.account-details-box:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  background-color: var(--glc-orange);
  h3{
    margin: -1.5rem;
    color: var(--glc-dark-brown);
  }

  .icon {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  grid-area: three;
}
.account-details-box:nth-child(4){
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: center;
  
  background-color: var(--glc-dark-grey);
  h3 {
    color: var(--glc-sky-blue);
  }
  
  
  grid-area: four;
}
