.accounts-content{
  min-height: 100svh;
  width: 90svw;

  padding-top: 2rem;
}
  
.account-list {
  display: flex;
  gap: 2rem;
  
}

.accounts-card {
  display: flex;
  min-height: 10svh;
  width: 20svw;
  gap: 2rem;
  
  margin-left: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;

  color: var(--body-bg);
  font-size: large;
  font-weight: 300;


  background-color: gray;
  border-bottom: 1px solid whitesmoke;
  border-radius: 1vw;
}








.account-action-icons span {
  font-size: medium;
  padding: 5px;
  color: var(--body-bg);
}