.accounts-content{
  display: flex;
  justify-content: center;
  
  height: 80svh;
  width: 80svw;
  
  background: var(--color-zinc-400);
  border-radius: 30px;
  padding-left: 2rem;
  padding: min(2rem);
}

.page-title {
  color: var(--primary-title-color);
  font-size: 24pt;
  padding: 2rem;
  text-align: center;
}
  
.account-title {
  color: var(--color-zinc-600);
  margin-top: 0;
  padding: 1rem;
  font-size: 14px;
}
.account-cell {
  color: var(--color-zinc-900);
  font-size: 12px;
  border-bottom: 1px solid var(--color-gray-500);
}
.account-row:nth-child(1){
  border-top: 1px solid var(--color-gray-500);
}
.accounts-list {
  position: relative;
}

.account-action-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 14px;
  padding-inline: 5px;
  border: hidden;
}

.account-action-icons span {
  font-size: 10pt;
  color: var(--body-bg);
}

/* <---------  ACCOUNT DETAILS BENTO SCREEN  ----------> */

.account-details-page{
  margin: 0;
  padding: 1rem;
  padding-inline: 2rem;

}

.account-details-content{
  display: grid;
  gap: 1rem;
  padding-top: 2rem;

  grid-template-areas: 
    "one two four"
    "one three four"
  
  ;
}

.account-details-box {
  background: rgba(143, 141, 141, 0.65);
  border-radius: 5px;
  min-height: 20vh;
  min-width: 20vw;
  
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: start;
  
  
  padding: 2rem;

  div {
    display: flex;
    justify-content: space-between;
  }
  h3{
    color: var(--color-zinc-700);
    text-shadow: .5px .5px var(--color-zinc-400);
    font-size: 20px;
    font-weight: 600;
  }
}

.account-details-article{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* <---------  ACCOUNT DETAILS BOXES  ----------> */
.account-details-box:nth-child(1){
    
  p {
    padding: 0;
    margin: 0;
  }

  label {
    color: var(--color-zinc-800);
    font-weight: 700;
    padding-right: 1rem;
  }
  span {
    color: var(--color-zinc-300);
    padding: 2px;
  }

  grid-area: one;
}



.account-details-box:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: space-between;


  grid-area: two;
}

.cut-date{
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    color: var(--glc-yellow);
    text-shadow: .5px .5px .5px var(--glc-dark-brown);
  }
}

.account-details-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  color: var(--glc-sky-blue);
  img{
    height: 100px;
  }
}

.account-details-box:nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

  h3 {
    margin-top: -30px;
  }

  .icon {
    width: 100%;
    display: flex;
    justify-content: end;
    color: var(--color-zinc-300);
  }

  grid-area: three;
}
.account-details-box:nth-child(4){
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: start;
  align-items: center;
  
  
  grid-area: four;
}
